"*":
  "exception-reporting":
    userId: "fd406a54-edc4-df78-16f9-3279cc50b842"
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/tomjrob/Source"
    disabledPackages: [
      "symbols-view"
    ]
  editor:
    invisibles: {}
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 6
  linter: {}
  "git-plus": {}
  "atom-beautify":
    _analyticsUserId: "84856c0f-4b7c-484e-9476-8e5951f4a364"
  "atom-ctags":
    autoBuildTagsWhenActive: true
  "autocomplete-plus-async": {}
  build: {}
  motepair:
    userEmail: "robinson.tj@gmail.com"
